<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>créer Contact</title>
</head>
<body>
    <div>
        Créer contact
    </div>
    <form action="#" method="post">
        <label name="E-mail">E-mail</label>
            <input type="text" name="E-mail"/>
        <br/>
        <label name="Prénom">Prénom</label>
            <input type="text" name="Prénom" />
        <br/>
        <label name="Nom">Nom</label>
            <input type="text" name="Nom" />
        <br/>    
        <label name="Propriétaire du contact">Propriétaire du contact</label>
            <input type="text" name="Propriétaire" /> 
        <br/>
        <label name="Intutilé du poste">Intitulé du poste</label>
            <input type="text" name="Prénom" />
            
    </form>

    <div>
        <button>
            Créer
        </button>
        <button>
            Créer et en ajouter une autre
        </button>
        <button>
            Annuler
        </button>
    </div>
    
</body>
</html>